table {
  width: 100%;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

h2 {
  color: aliceblue;
  margin-top: 30px;
  margin-left: 10px;
}

.add-btn {
    text-align: right;
    margin-top: 4px;
}

.add-btn button{
  margin-right: 20px;
}
