<mat-toolbar>

  <a routerLink="/home">
    <img src="assets/logo.png" height="20" style="margin-top: 10px;">
  </a>

  <div class="div">
    <a routerLink="/logins" class="anchor">
      <span class="toolbar-item">Logins</span>
    </a>

    <a routerLink="/users" class="anchor">
      <span class="toolbar-item">Users</span>
    </a>
  </div>

  <span class="example-spacer"></span>
  <a routerLink="/" class="anchor">
    <span class="toolbar-item">Log out</span>
  </a>

</mat-toolbar>
<router-outlet></router-outlet>